:root {
    --bg-main: #0b0f19;
    --sidebar-bg: #111827;
    --card-bg: #1f2937;
    --accent: #6366f1;
    --text-primary: #f3f4f6;
    --danger: #ef4444;
}

body { 
    font-family: 'Inter', sans-serif; 
    margin: 0; 
    background: var(--bg-main); 
    color: var(--text-primary); 
    overflow-x: hidden;
}

.app-wrapper { display: flex; }

.sidebar { 
    width: 260px; 
    background: var(--sidebar-bg); 
    height: 100vh; 
    position: fixed; 
    padding: 30px 20px;
    border-right: 1px solid #374151;
}

.logo-text { font-size: 1.5rem; font-weight: 800; color: var(--accent); letter-spacing: 2px; }

.side-nav { margin-top: 50px; }
.side-nav a { 
    display: block; 
    color: #9ca3af; 
    text-decoration: none; 
    padding: 15px; 
    margin-bottom: 10px;
    border-radius: 8px;
    transition: 0.3s;
}

.side-nav a.active, .side-nav a:hover { 
    background: var(--accent); 
    color: white; 
}

.main-content { margin-left: 260px; padding: 40px; width: 100%; }

.stats-grid { display: grid; grid-template-columns: repeat(3, 1fr); gap: 25px; margin-top: 40px; }

.stat-card { 
    background: var(--card-bg); 
    padding: 25px; 
    border-radius: 15px; 
    border: 1px solid #374151; 
}

#scan-btn { 
    background: var(--accent); 
    color: white; 
    border: none; 
    padding: 15px 30px; 
    border-radius: 8px; 
    cursor: pointer; 
    font-weight: bold;
}

/* Day 3 Visuals */
.map-bg { 
    height: 350px; 
    background: #030712; 
    border-radius: 12px; 
    position: relative; 
    border: 1px solid #1f2937;
    margin-top: 20px;
}

.node {
    position: absolute;
    padding: 10px 15px;
    border-radius: 6px;
    font-size: 0.75rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 5px black;
}

.compliance-row {
    background: #111827;
    padding: 20px;
    border-radius: 10px;
    border-left: 4px solid var(--accent);
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
